{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Dungeons and Dragons</span>
    <a class="nav-item nav-link active float-right" id="newUserLink" href="{{ url_for('logout') }}" >Logout</a>	
</nav>

    <!--contains everything but top nav-->
    <div class="container-fluid">
      <div class="row">
        
        <!-- side bar-->
        <nav id="sideBarNav" class="col-md-2  col-lg-2 col-sm-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column" role="navigation">
              <li class="nav-item">
                <a  id="home-tab" class="nav-link active" href="#home" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
                  <span  data-feather="home"></span>
                  Home<span class="sr-only">(current)</span>
                </a>
              </li>
              <h6 style="margin-top: 4px !important;" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Character Manager</span>
              </h6>
              <li class="nav-item">
                <a id="myCharacter-tab" class="nav-link" href="#myCharacters" data-toggle="tab" role="tab" aria-controls="myCharacters" aria-selected="false">
                  <span data-feather="users"></span>
                  My Characters
                </a>
              </li>
              <li class="nav-item">
                <a id="addCharacter-tab" class="nav-link" href="#addCharacter" data-toggle="tab" role="tab" aria-controls="addCharacter" aria-selected="false">
                  <span data-feather="plus-circle"></span>
                  Add Character
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Campaign Manager</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="map"></span>
                  Example
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!--tab content-->
        <div class="tab-content col-md-10 col-sm-10 ml-sm-auto col-lg-10" id="myTabContent">

          <!--home tab-->
          <div role="tabpanel" aria-labelledby="home-tab" class="col-md-12 col-sm-12 ml-sm-auto col-lg-12 tab-pane fade-in active" id="home">
               <!--Jumbo Tron-->
                 <div role="tabpanel" class="jumbotron" >
                   <h1 class="display-3">Welcome ....</h1>
                   <p class="lead">Important info here: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
                   <hr class="my-4">
                   <p>Semi-important info here: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                 </div> 
         </div>
           <!--my characters tab-->
           <div role="tabpanel" aria-labelledby="myCharacter-tab" class="tab-pane fade col-md-12 col-sm-12 col-lg-12" id="myCharacters">
            <!-- cards-->  

            <div id="cardContainer" class="container-fluid rounded">
                <div class="card-deck">
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">1 Card title</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="#" class="btn btn-primary">delete</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">2 Card title</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="#" class="btn btn-primary">delete</a>
                        </div>
                    </div>
                    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">3 Card title</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="#" class="btn btn-primary">delete</a>
                        </div>
                    </div>
                    <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">4 Card title</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="#" class="btn btn-primary">delete</a>
                        </div>
                    </div>
                    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
                     <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">5 Card title</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="#" class="btn btn-primary">delete</a>
                        </div>
                    </div>
                    <div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="//placehold.it/500x300" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">6 Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">delete</a>
                        </div>
                    </div>
                    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
                    <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="//placehold.it/500x270" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">7 Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <a href="#" class="btn btn-primary">delete</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="//placehold.it/500x300" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">8 Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">delete</a>
                        </div>
                    </div>
                    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
                    <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="//placehold.it/500x270" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <a href="#" class="btn btn-primary">delete</a>
                        </div>
                    </div>
                    <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="//placehold.it/500x270" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">10 Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <a href="#" class="btn btn-primary">delete</a>
                        </div>
                    </div>

                </div>
            </div>
      


        
         </div>
            <!--add character tab-->
            <div role="tabpanel" aria-labelledby="addCharacter-tab" class="tab-pane fade" id="addCharacter">add characters</div>
      </div>
    </div>

    <!--call for icons-->
    <script>
      feather.replace()
    </script>

{% endblock %}