
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    background-color: #ede4c7;
}


nav a{
    color: #fff; 
    margin-left: 10px;
}

nav a:hover{
    color: #fff;
    border-bottom: 2px solid;
    padding-bottom: 6px;
}

form button{
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

#formContainer form{
    width: 70%;
}

#forgotPasswordLink{
    color: #343a40;
}

#formContainer{
    margin-top: 50px;
    color: black;
}

#alert, #usernameAlert, #passwordAlert{
    margin-top: 10px;
}

.flashes{
	width: 30%;
	margin: 0 auto;
    margin-top: 10px; 
    list-style-type: none;
    text-align: center;
}

#sideBarNav {
    background-color: #343a40 !important;
    position: fixed;
    height: 100%;
}

.icon{
    color:#fff !important;
}

.jumbotron{
    background-color:  #ede4c7;
    color: #343a40; 
    margin-top: 10px;
}

.card{
    margin-top: 10px;
}

.card-deck{
     margin-top: 10px;
}
   

#cardContainer{
    background-color:  #ede4c7;
    margin-top: 10px;
}

.card .btn, .modal .btnNext, .modal .btnPrevious{
    background-color: #343a40 !important;
    border-color: #343a40 !important
}

/* card hovering*/
.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);

}

/* modal/pill styling*/
.nav-pills .nav-link.active,
 .nav-tem >.pill:hover {
    background-color:  #ede4c7 !important;
}

.nav-pills a{
    color:  #343140;
}

#abilityButtons{
    margin-top: 15px;
}


/* ability boost badges*/
#abilityBoostBadges{
    margin-bottom: 15px;
}

.abilityBadges{
    margin-right: 5px;
}

/*panel for ability selectiong */
.panel-heading{
    color: #343a40;
    font-weight: bold;
}

.alert{
    display: none;
}

/* arrow buttons for point-buy*/
.arrowBtn{
    padding-left: 2px;
    padding-right: 2px;
    background-color: #e9ecef;
    border-color: #CED4DA;
    color: #495057;
}

.pointbuyArrows{
    display: none;
}


#pointbuyBadge{
    margin-top: 15px;
    margin-bottom: 15px;
    display: none;
}

/*swap abilites panel */
#swapAbility{
    display: none;
}

#equipmentRadioBoxes{
    margin-top: 15px;
}

.radioBoxLegend{
    font-weight: bold;
}